@import 'styles/colors.module';

.authLayout {
  @apply size-full flex flex-col justify-center items-center grow;

  &-title {
    padding: 5rem 0 2.5rem 0;
    display: inline-block;
  }

  .content {
    @apply size-full flex flex-col justify-center items-center;

    max-width: 400px;
    width: 100%;
  }

  form {
    @apply size-full flex flex-col justify-center items-center;
    
    button {
      margin-top: 30px;
    }
  }
}
