@import 'styles/colors.module';
@import 'styles/fonts.module.scss';

.button {

  &_default {
    @apply rounded-lg size-full;
    @include defaultButtonFont;

    background: $primary-blue;
    color: $primary-white;
    padding: 13px;
  }

  &_transparent {
    @apply rounded-md p-3.5 flex justify-center items-center gap-2.5 size-full transition hover:bg-gray-100;
    border: 1px solid $gray-200;
  }

  &:disabled {
    @apply opacity-50 transition-opacity;
  }
}
