// PRIMARY
$primary-blue: #316fea;
$primary-white: #ffffff;

// NEUTRALS
$gray-900: #1a1919;
$gray-300: #a1abb5;
$gray-200: #d3d8dc;
$gray-100: #e3e6e9;

// ACCENT
$green: #0ea875;
$red: #f15c5c;
$orange: #ff9960;
$yellow: #f9df5e;

$primary-blue_opacity-8: rgba(26, 150, 240, 0.5);
